header {
  width: 12rem;
  padding: 0 50px 15px 0;
  position: relative;
  float: left;
  height: calc(100vh - 50px - 15px);

  @media #{$below} {
    float: none;
  }

  @media #{$small} {
    width: 100%;
  }

  h1 {
    font-size: 1.9em;
    margin-bottom: 0px;
  }

  img {
    width: 100%;
    margin-bottom: 0px;
  }

  nav ul {
    margin-bottom: 20px;
  }

  nav ul li {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 20px;
    width: 80%;
  }

  small {
    font-size: 0.7em;
  }
}