<header>
    <img alt="{{ .Site.Params.picture.alt }}" src="{{ .Site.Params.picture.src }}" />

    <h1 class="header-title">
        <a href="/" title="{{ .Site.Title }}">
            {{ .Site.Params.name }}
        </a>
    </h1>

    <p>
        <small>
            <em>
                {{ sub (int now.Year) 1997 }},
                brazilian,
                passionate about flying things,
                engineering and code.
            </em>
        </small>
    </p>

    <nav class="pure-menu">
        <ul class="header none pure-menu-list">
            {{ range .Site.Menus.main }}
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
    </nav>

    <small>
        <!-- To get in touch please mention or DM</br>
      pets and airplanes photos are allowed</br></br> -->
        <!-- made with <b style="color: red">&hearts;</b>, in Brazil. -->
        victorsantos at ufmg.br
    </small>
    {{ partial "social-media" . }}
</header>