{{ define "main" }}

<h1>About Me</h1>
<p>Hey! I’m an aerospace engineering student who likes to code and make stuff!</p>

<h2>Bio</h2>
<p>
    As long as I can remember I’m deeply passionate about aviation and space.
    Engineering and coding crossed my way since the high-school and become
    a field discovery and creation.
    I believe that this had a strong influence from the Star Wars saga, which I’m a huge fan of.
</p>
<p>
    I’m from São Paulo, Brazil, living in Belo Horizonte (or Beagá).
</p>
<p>
    I occasionally blog here, also there, and there.
    I’m also a hobbyist musician at Reversão de Comando, 
    a cool band named after an aircraft effect that happens at high speeds.
</p>

<h2>Interests</h2>
<p>
    Currently, I’m focused in aeroelasticity, using, and developing software to analyze aeroelastic phenomena.
</p>
<p>
    Although, I’ve interests in the electrification of vehicles, distributed propulsion, hypersonic flight, morphing wings, aircraft conceptual design, and multidisciplinary optimization.
</p>
<p>
    I’m also interested in gliders, music (mostly string instruments and sound engineering), and fiction movies and books.
</p>

<h2>Experience</h2>
<p>
    I have 4+ years of practical development experience
    (2 in educational projects and 2+ in industry);
    2 years of experience as aeroelastician and aircraft stress engineer of the
    UFMG’s Aerodesign team;
    1 year of leadership of the UFMG’s model rocket team;
</p>


{{ end }}
